.article.--floating {
  width: 450px;
  // position: absolute;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 5;
  font-family: $font-family;

  .--button {
    @include Font();
    width: 60vh;
    font-size: 15px;
    line-height: 30.8px;
    background: $main-color;
    font-style: normal;
    gap: 20px;
    padding: 0;
    border: 1px orange solid;
    color: $font-color;

    &:hover,
    &:focus {
      background: #fff;
    }
  }
}
.title{
  padding: 20px;
}

@media(max-width: 500px) {
  .--button {
    width: 15vh !important;
  }
}