$navbarHeight: 250px;
$main-color: orange ;
$background-color: black;
$font-color:#292929;
$font-family: 'Open Sans', sans-serif;
$font-size: font-size 1.2em;

@mixin Font() {
  font-family: $font-family;
  color: $font-color;
}