html{
  background-color: #E7E7E7 ;
}
$navbarHeight: 250px;
$main-color: #3B3B3B ;
$background-color: #2B2B2B;
$font-color:#FFFFFF;
$font-family: 'Work Sans', sans-serif;

@mixin Font() {
  font-family: $font-family;
  color: $font-color;
}