.navbar_container {
    box-sizing: border-box;
    border: $main-color solid 8px;
    margin-bottom: 1rem;
    background-color: $background-color;
    position: sticky;
    color: white;
    z-index: 20;
}

.logo {
    align-items: center;
    padding: 2px;
    height: 10rem;
}

@media (min-width: 1080px){
.logo{
    
}
}