.navbar_container {
    box-sizing: border-box;
    border: orange solid 8px;
    margin-bottom: 1rem;
    background-color: black;
    position: sticky;
    color: white;
    z-index: 20;
}

.logo {
    align-items: center;
    padding: 2px;
    height: 60%;
}