.navbar_container {
    box-sizing: border-box;
    border: orange solid 8px;
    margin-bottom: 1rem;
    background-color: $background-color;
    position: sticky;
    color: white;
    z-index: 20;
}
.three_column_row{
    height: 15vh;
}

.hidden_mobile {
    height: 15vh;
    align-items: center;
    padding: 2px;
}
.img{
    height: 12vh;
}
@media(max-width: 500px) {
    .navbar_container{
    width: 100vh;
    }
    // .hidden_mobile {
    //    display: none !important;
    // }
    .category{
        display: none;
    }
    .statistic{
        display: none !important;
    }
}