.article--preview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35vh;
}
.preview-title{
    display: flex;
    width: 80%;
    font-size: inherit;
    color: white;
}