.nav-bar{
    overflow: hidden;
    text-align: center;
}
.clock{
    float: left;
    width: 20%;
    height: 20%;
    text-align: center;
    overflow: hidden;
    padding: 2%;
}
.logo{
    align-items: center;
    margin: 4px; padding: 2px;
}