.page-home {
    height: calc(100vh - $navbarHeight);
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;

    &__articles {
        flex-grow: 1;
        height: 100%;
        position: relative;
    }

    &__selected {
        width: 360px;
    }
}


    .page-home__articles{
        padding: 1rem;
        position: relative;
        z-index: 2;
    }
    .page-home__article{
        -webkit-animation-name: scrool;
        -webkit-animation-duration: 40s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: up;
        -webkit-animation-delay: 0ms;
        -webkit-animation-timing-function: linear;
      }
      @-webkit-keyframes scrool {
          0%{
              transform: translateY(0)
          }
          100%{
              transform: translateY(-100%)
              
          }
        }

/*
        &__list {
            list-style: none;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

    }
.button{
    z-index: 4;
}
    .articles-list {
        padding: 1rem;

        &__list {
            list-style: none;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

}
// */
// // .article --floating{
// //   -webkit-animation-name: scrool;
// //   -webkit-animation-duration: 40s;
// //   -webkit-animation-iteration-count: infinite;
// //   -webkit-animation-direction: up;
// //   -webkit-animation-delay: 0ms;
// //   -webkit-animation-timing-function: linear;
// // }
// // @-webkit-keyframes scrool {
// //     0%{
// //         transform: translateY(0)
// //     }
// //     100%{
// //         transform: translateY(-100%)
        
// //     }
// // }
