.page-home {
    height: calc(100vh - $navbarHeight);
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;

    &__articles {
        flex-grow: 1;
        height: 100%;
        position: relative;
    }

    &__selected {
        width: 360px;
    }
}
.button{
    z-index: 4;
 }
    .page-home__articles{
        padding: 1rem;
        position: relative;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }
    .page-home__articles{
        -webkit-animation-name: scrool;
        -webkit-animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: up;
        -webkit-animation-delay: 0ms;
        -webkit-animation-timing-function: linear;
      }
      @-webkit-keyframes scrool {
          0%{
              transform: translateY(0)
          }
          100%{
              transform: translateY(-100%)
              
          }
        }